# --- For-Bot-Working --------- #
pyrogram
TgCrypto
Pyromod==1.5
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp
pyrofork-2.2.11
git+https://github.com/Hrishi2861/pyrofork-2.2.11-peer-fix.git
